@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body{
  font-family: 'Open Sans', 'Helvetica Neue', 'Tahoma', sans-serif, serif;
  height: 100%;
}
ul {
  list-style-type: none;
}
td {
  text-align: right;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
